@model Randevuobject.Randevu

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Randevu</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CalisanKisi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CalisanKisi.Aciklama)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Musteri)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Musteri.Aciklama)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsAktif)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsAktif)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsTamamlandi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsTamamlandi)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TarihSaat)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TarihSaat)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Aciklama)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Aciklama)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
