@model IEnumerable<Randevuobject.CalismaPlani>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PlanAdi)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MusteriBasinaZaman)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsHahtasonuCalisma)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MesaiBaslamaSaati)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MesaiBitisSaati)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Aciklama)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PlanAdi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MusteriBasinaZaman)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsHahtasonuCalisma)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MesaiBaslamaSaati)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MesaiBitisSaati)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Aciklama)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
